@if(mode === 'full') { 
    <div class="summary-container">
    <div class="container-01">
        <p style="margin-left: 24px;">Order Summary</p>
    </div>
    <div class="container-02">
        <div class="inner-02 inner-02-text">
            <span>Subtotal ({{cartService.cartTotalItems()}} items)</span>
            <span> {{ cartService.subtotalPrice() | currency: 'USD'}} </span>
        </div>
        <div class="inner-02">
            <span class="inner-02-text">Shipping</span>
            <span class="shipping-price">Free</span>
        </div>
        <div class="inner-02 inner-02-text">
            <span>Tax</span>
            <span>$23.20</span>
        </div>
        <div class="inner-02 discount-text">
            <span>Discount</span>
            <span> -{{ cartService.totalDiscount() | currency: 'USD'}} </span>
        </div>
        <div class="inner-03">
            <div class="total-price">
                <div>Total</div>
                <div> {{ cartService.totalPrice() | currency: 'USD'}} </div>
            </div>
            <span class="saved-discount">You saved {{ cartService.totalDiscount() | currency: 'USD'}}</span>

        </div>
    </div>
    <div class="container-03">
        <div class="checkout-container">
            <button class="checkout-btn" routerLink="/checkout">
                Proceed to Checkout
            </button>
        </div>
        <div class="shipping-txt">
            <div class="ship-txt-01">
                <img src="../../../assets/images/shipping-icon.svg" alt="shipping-icon" style="width: 20px; height: 16px;">
                <span>Free Shipping</span>
            </div>
            <p class="ship-txt-02">
                Your order qualifies for free standard shipping
                <br>
                (5-7 business days)
            </p>
        </div>
        <div class="secure-checkout">
            <div class="secure-01">
                <img src="../../../assets/images/security-icon.svg" alt="security-icon" style="width: 16px; height: 16px;">
                <span>Secure Checkout</span>
            </div>
            <p class="secure-02">
                Your payment information is protected with
                <br>
                256-bit SSL encryption
            </p>
        </div>
    </div>
    </div>

} @else {
    <div class="summary-container-02">
    <div class="container-01">
        <p style="margin-left: 24px;">Order Summary</p>
    </div>

    <div class="container-05">
        @for(item of cartService.cartItems(); track item.id) {
            <div class="summary-item">
                <div class="summary-img">
                    <img src="{{item.image}}" alt="product-image">
                </div>
                <div>{{item.title}}</div>
            </div>
            <div class="summary-item"></div>
        }

    </div>

    <div class="container-04">
        <div class="inner-05 inner-05-text">
            <span>Subtotal</span>
            <span> {{ cartService.subtotalPrice() | currency: 'USD'}} </span>
        </div>
        <div class="inner-05">
            <span class="inner-05-text">Shipping</span>
            <span class="shipping-price">Free</span>
        </div>
        <div class="inner-05 inner-05-text">
            <span>Tax</span>
            <span>$23.20</span>
        </div>
        <div class="inner-04">
            <div class="total-prc">
                <div>Total</div>
                <div> {{ cartService.totalPrice() | currency: 'USD'}} </div>
            </div>
        </div>
    </div>
    <div class="container-03">
        <div class="checkout-container">
            <button class="checkout-btn horizontal-align" routerLink="/checkout">
                <img src="../../../assets/images/order-icon.svg" alt="order-icon" style="width: 14px; height: 16px;">
                <p>Place Order</p>
            </button>
            <button class="continue-btn" routerLink="/products">
                Continue Shopping
            </button>
        </div>
        <div class="order-info">
            <div class="payment-return payment-txt">
                <img src="../../../assets/images/security-green.svg" alt="security-green-icon" style="width: 14px; height: 14px;">
                <span>Secure Payment</span>               
            </div>
            <div class="payment-return return-txt">
                <img src="../../../assets/images/return-icon.svg" alt="return-icon" style="width: 17.5px; height: 14px;">
                <span>Free Returns</span>               
            </div>
        </div>

    </div>

    </div>
}
