.summary-container {
    width: 389.34px;
    height: 763px;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(#0000000D, 5%);
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    margin-right: 104px;
    margin-left: 32px;
}

.container-01 {
    height: 77px;
    border-bottom: 1px solid #E5E7EB;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.container-02 {
    height: 277px;
    border-bottom: 1px solid #E5E7EB;
    box-sizing: border-box;
    padding: 24px;
}

.inner-02 {
    height: 24px; 
    display: flex; 
    justify-content: space-between;
    margin-bottom: 16px;
}

.inner-02-text {
    font-size: 16px;
    font-weight: 400;
    color: #4B5563;
}

.shipping-price {
    color: #16A34A;
    font-size: 16px;
    font-weight: 500;
}

.discount-text {
    color: #DC2626;
    font-size: 16px;
    font-weight: 400;
}

.inner-03 {
    height: 69px;
    border-top: 1px solid #E5E7EB;
}

.total-price {
    height: 28px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.saved-discount {
    height: 20px;
    color: #16A34A;
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
}

.container-03 {
    height: 407px;
}

.checkout-container {
    width: 339.34px;
    height: 110px;
    padding: 24px;
}

.checkout-btn {
    width: 339.34px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: #2563EB;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;

    &:hover {
        cursor: pointer;
    }
}

.shipping-txt {
    height: 104px;
    border-radius: 8px;
    background-color: #F0FDF4;
    color: #15803D;
    margin: 0px 24px 16px 24px;
}

.ship-txt-01 {
    display: flex;
    width: 307.34px;
    height: 24px;
    padding: 16px 16px 8px 16px;
    gap: 8px;
    font-size: 16px; 
    font-weight: 500;
}

.ship-txt-02 {
    width: 307.34px;
    height: 40px;
    padding: 0px 16px 16px 16px;
    font-size: 14px;
    font-weight: 400;
}

.secure-checkout {
    width: 339.34px;
    height: 104px;
    border-radius: 8px;
    margin: 0px 24px 24px 24px;
    background-color: #EFF6FF;
    color: #1D4ED8;
}

.secure-01 {
    width: 307.34;
    height: 24px;
    display: flex;
    padding: 16px 16px 8px 16px;
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
}

.secure-02 {
    width: 307.34px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 16px 16px 16px;
}