<div class="footer">
    <div class="footer-inner-container">
        <div class="footer-txt">
            <div class="footer-txt-01">
                <div style="height: 32px; font-size: 20px; font-weight: 700; display: flex; align-items: center; gap: 8px; margin-bottom: 24px;">
                    <div class="logo-style">
                        <img src="../../../assets/images/shophub-icon.svg" alt="shophub-icon" style="width: 15.75; height: 14px;">
                    </div>                   
                    <div>ShopHub</div>
                </div>
                <p style="color: #9CA3AF; margin-bottom: 24px;">
                    Your trusted online shopping destination with quality products and exceptional service.
                </p>
                <div style="height: 40px; display: flex; gap: 16px;">
                    <span class="circle">
                        <img src="../../../assets/images/facebook-icon.svg" alt="facebook-icon" style="width: 10px; height: 16px;">
                    </span>
                    <span class="circle">
                        <img src="../../../assets/images/x-icon.svg" alt="x-icon" style="width: 16px; height: 16px;">
                    </span>
                    <span class="circle">
                        <img src="../../../assets/images/insta-icon.svg" alt="insta-icon" style="width: 14px; height: 16px;">
                    </span>
                </div>
            </div>
            <div class="footer-txt-01">
                <p class="ul-names">
                    Quick Links
                </p>
                <ul class="list-style">
                    <li class="padding-btm">About Us</li>
                    <li class="padding-btm">Contact</li>
                    <li class="padding-btm">Careers</li>
                    <li class="padding-btm">Blog</li>
                </ul>
            </div>
            <div class="footer-txt-01">
                <p class="ul-names">
                    Customer Service
                </p>
                <ul class="list-style">
                    <li class="padding-btm">Help Center</li>
                    <li class="padding-btm">Returns</li>
                    <li class="padding-btm">Shipping Info</li>
                    <li class="padding-btm">Track Order</li>
                </ul>
            </div>
            <div class="footer-txt-01">
                <p class="ul-names">
                    Legal
                </p>
                <ul class="list-style">
                    <li class="padding-btm">Privacy Policy</li>
                    <li class="padding-btm">Terms of Service</li>
                    <li class="padding-btm">Cookie Policy</li>
                    <li class="padding-btm">Accessibility</li>
                </ul>
            </div>
        </div>
        <div class="all-rights">
            <p class="copyright">© 2025 ShopHub. All rights reserved.</p>
        </div>

    </div>

</div>
