.footer {
    width: 100%;
    height: 377px;
    background-color: #111827;
    border: 1px solid #E5E7EB;
    margin-top: 50px;
}

.footer-inner-container {
    margin: 48px 80px;
    height: 281px;
}

.footer-txt {
    height: 192px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.footer-txt-01 {
    width: 284px;
    height: 192px;
    color: #ffffff;
}

.logo-style {
    width: 32px; 
    height: 32px; 
    border-radius: 8px; 
    background-color: #2563EB; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-names {
    height: 24px;
    margin-bottom: 16px;
    margin-top: 9px;
    font-size: 16px;
    font-weight: 600;
}

.list-style {
    list-style: none;
    padding-left: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #9CA3AF;
}

.padding-btm {
    margin-bottom: 8px;
}

.all-rights {
    height: 57px;
    padding-bottom: 48px;
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
    border-top: 1px solid #1F2937;
    display: flex;
    justify-content: center;
}

.copyright {
    height: 24px;
    margin-top: 33px;
}