header { 
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding: 0px 104px 0px 104px;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(#0000000D, 5%) ;

    div ul {
        list-style: none;
        display: flex;
        padding-left: 0px;

        li {
            padding: 0px 31px 0px 0px;
            display: flex;
            align-items: center;
        }
    }

    .shophub-decor {
        display: flex;

        &:hover {
            cursor: pointer;
        }

    }

    .bg-color {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        background-color: #2563EB;
        margin-right: 5px;

    }
    
    .img-decor {
        padding: 8.5px;
    }

    .search-decor {
        display: flex;
        align-items: center;
        padding: 0px 10px 0px 10px;
    }

    .search-img-decor {
        padding-left: 5px;
        margin-top: 5px;
    }

    .search-decor-border {
        width: 200px;
        height: 32px;
        border-radius: 8px;
        border: 1px solid #E5E7EB;
    }

    .input-decor {
        border: none;
    }

    .cart-btn {
        border: none;
        background: none;
        margin-left: 76px;
        position: relative;

        &:hover {
            cursor: pointer;
        }
    }

    .cart-bg {
        background-color: #2563EB;
        width: 20px;
        height: 20px;
        border-radius: 9999px;
        position: absolute;
        top: -15px;
        right: -5px;
        color: #ffffff;
    }

    .avatar-decor {
        margin-left: 16px;
    }

}

    
    