<header>

    <div>
        <ul>
            <li class="shophub-decor" routerLink="products">
                <div class="bg-color">
                    <img src="../../../assets/images/shophub-icon.svg" alt="shophub-icon" class="img-decor">
                </div>
                
                ShopHub
            </li>
            <li>Home</li>
            <li>Categories</li>
            <li>Deals</li>
            <li>About</li>
        </ul>
    </div>

    <div class="search-decor">
        <div class="search-decor-border">
            <img src="../../../assets/images/search-icon.svg" alt="search-icon" class="search-img-decor">
            <input type="text" placeholder="Search products..." class="input-decor" [formControl]="searchControl"/>
            
        </div>
        
        <app-header-cart-items></app-header-cart-items>
        
        <div class="avatar-decor">
            <img src="../../../assets/images/avatar.svg" alt="avatar">
        </div>
    </div>
</header>
