<div>
    figma 2nd page

</div>

<div>
    product id is {{ productId }}
    <!-- {{ product.title }} -->
</div>

<div>
    @if(product) {
        {{ product.title }}
    }
</div>

<div class="details-main">
    <div class="details-general">
        <div>
            <div>
                <div>
                    <div class="discount-percent">
                        <span>30% OFF</span>
                    </div>
                    <!-- <img src="{{product.image}}" alt="image" width="592px" height="384"> -->
                </div>
            </div>
            <div class="more-img">
                <div id="active-img"><img src="../../../assets/images/img-01.svg" alt="image"></div>
                <div><img src="../../../assets/images/img-02.svg" alt="image"></div>
                <div><img src="../../../assets/images/img-03.svg" alt="image"></div>
                <div><img src="../../../assets/images/img-04.svg" alt="image"></div>
            </div>
        </div>
        <div class="details-right">
            <div class="product-title">
                <h2> {{product.title}} </h2>
                <h5>Model: WH-1000XM5 | SKU: BT-HEAD-001</h5>
            </div>
            <div class="feedback-line">
                <div>
                    <div class="rate-img">
                        <img src="../../../assets/images/star.svg" alt="star-rate-image" width="16.5px" height="16px">
                        <img src="../../../assets/images/star.svg" alt="star-rate-image" width="16.5px" height="16px">
                        <img src="../../../assets/images/star.svg" alt="star-rate-image" width="16.5px" height="16px">
                        <img src="../../../assets/images/star.svg" alt="star-rate-image" width="16.5px" height="16px">
                        <img src="../../../assets/images/star.svg" alt="star-rate-image" width="16.5px" height="16px">  
                    </div>
                    <p> ({{ product.totalRate }} reviews) </p>
                </div>
                <span class="stock-item">In Stock</span>
            </div>
            <div class="price-category">
                <div class="price-category-items">
                    @if(product.discountPercent) {
                        <div style="font-weight: 700; font-size: 36px;">
                            {{ product.discountPercent }}
                        </div>
                    <!-- ////currency 'USD'  აკლია /// -->
                        <div style="font-size: 24px; font-weight: 400; text-decoration: line-through; color: #6B7280;">
                            {{ product.price }} 
                            </div>
                        <div class="discount-item">
                            <p>Save 30%</p>
                        </div>
                    } @else {
                        <!-- ////currency 'USD'  აკლია /// -->
                        <div style="font-size: 36px; font-weight: 700;">
                            {{ product.price }}
                        </div>
                    }                   
                </div>
                <div class="free-shipping-text">
                    Free shipping on orders over $50
                </div>
                
                
            </div>
            <div>
                <div>
                    <div style="display: flex; gap: 16px; border: none; background-color: blue;">
                        <div>
                            <app-add-to-cart></app-add-to-cart>
                        </div>
                        <button></button>
                    </div>
                    <div></div>
                </div>
            </div>
            <div></div>
        </div>

    </div>

</div>
