.details-main {
    margin: 80px;
}

.details-general {
    margin: 0px 24px 0px 24px;
    gap: 48px;
    display: flex;
    position: relative;
}

.discount-percent {
    width: 86px;
    height: 28px;
    border-radius: 9999px;
    background-color: #EF4444;
    margin-top: 16px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    span {
        color: white;
    }
}

// span {
//     color: white;
// }

.more-img {
    width: 592px;
    height: 84px;
    margin-top: 24px;
    display: flex;
    gap: 12px;

    div {
        width: 139px;
        height: 84px;
        border-radius: 8px;
        border: 1px solid #E5E7EB;
        box-sizing: border-box;
        overflow: hidden;
    }
}

#active-img {
    border: 2px solid #3B82F6;
}

.details-right {
    width: 592px;
    height: 723px;

    .product-title {
        height: 104px;

        h2 {
            margin: 5px 0px 5px 0px;
        }

        h5 {
            margin-bottom: 5px;
            display: flex;
        }
    }
}

.feedback-line {
    display: flex;
    height: 24px;

    div {
        display: flex;

        p {
            margin: 3px 0px 0px 8px;
        }

    }

    span {
        color: #16A34A;
        margin: 3px 0px 0px 16px;
    }
}

.rate-img {
    width: 90px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75px;
}

.price-category {
    height: 68px;
}

.price-category-items {
    display: flex;
    align-items: center;
    gap: 11px;
}

.discount-item {
    width: 85px;
    height: 28px;
    background-color: #FEE2E2;
    border-radius: 4px;
    

    p {
        color: #B91C1C;
        display: flex;
        margin-top: 4px;
        justify-content: center;
    }
}

.free-shipping-text {
    color: #16A34A;
    font-family: 400;
    font-size: 14px;
}

.btn-bg {
    display: flex; 
    gap: 16px;  
    margin-top: 64px;
}

.add-btn {
    width: 324.61px;
    height: 48px;
    border-radius: 8px;
    background-color: #2563EB;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;

    &:hover {
        cursor: pointer;
    }

    &:active {
        box-shadow: 0 5px #9b9a9a;
    }
}

.buy-btn {
    width: 116.87px;
    height: 48px;
    border-radius: 8px;
    background-color: #111827;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.details-bg {
    margin-top: 48px;
    background-color: #FFFFFF;
    height: 327px;
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px rgba(#0000000D, 5%);
    margin-bottom: 488px;
}

.details-title {
    height: 59px;
    font-size: 16px;
    font-weight: 500;
    color: #2563EB;
    border: none;
    border-bottom: 2px solid #2563EB;
    background-color: #FFFFFF;
    margin-left: 24px;
}

.details-text {
    font-size: 16px;
    font-weight: 400;
    color: #4B5563;
    margin: 16px 24px 0px 24px;
}

