<div (click)="cardClick.emit()">
    
    
    <!-- <img src="../../../assets/images/{{product().image}}.png" alt="headphone-image" width="200px"> -->
     <!-- <img [src]=" {{product().image}} " alt="image" width="200px"> -->
    <br>
    {{ product().title }}
    <br>
    {{ product().rate }}
    ({{ product().totalRate }})
    <br>
    @if(product().discountPercent) {
        <span>
            {{ product().discountPercent | currency: 'USD' }}
        </span>
        <span class="price-decor">
            {{ product().price | currency: 'USD' }}
        </span>

    } @else {
        {{ product().price | currency: 'USD' }}
    }
    <br>
    
    <app-add-to-cart></app-add-to-cart>

</div>
