.price-decor {
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 400;
    color: #6B7280;
}

.cursor-active {
    &:hover {
        cursor: pointer;
    }
}

.product-card-decor {
    width: 277.33px;
    height: 416px;
    border-radius: 12px;
    margin-top: 24px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(#0000000D, 5%);
    position: relative;          
}

.product-text {
    width: 277.33px;
    height: 224px;
}

.position-abs {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 229.33px;
    height: 40px;
    border-radius: 8px;
    background-color: #2563EB;
    border: none;
    color: #ffffff;

    &:hover {
        cursor: pointer;
    }

    &:active {
        box-shadow: 0 5px #9b9a9a;
//   transform: translateY(1px);
}
    
}

.discount-percent {
    width: 86px;
    height: 28px;
    border-radius: 9999px;
    background-color: #EF4444;
    margin-top: 16px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    span {
        color: white;
    }
}