<div class="product-card-decor">

    <div >
    
        <img [src]="product().image" alt="image" width="277.33px" height="192px" (click)="cardClick.emit()" class="cursor-active">

        <div class="product-text">

            <div style="padding: 24px 24px 8px 24px;">{{ product().title }}</div>
            <div style="padding-left: 24px; padding-bottom: 12px;">
                {{ product().rate }}
                ({{ product().totalRate }})
            </div>

            <div style="padding-left: 24px; padding-bottom: 16px; display: flex; align-items: center;">
                @if(product().discountPercent) {
                    <span style="font-size: 24px; font-weight: 700; padding-right: 7px;">
                        {{ product().newPrice | currency: 'USD' }}
                    </span>
                    <span class="price-decor">
                        {{ product().price | currency: 'USD' }}
                    </span>

                } @else {
                    <div style="font-size: 24px; font-weight: 700;">
                        {{ product().price | currency: 'USD' }}
                    </div>  
                }
            </div>
      
        </div>
        
        <button (click)="addToCart.emit()">Add to Cart</button>
    </div> 


    <!-- <app-add-to-cart class="position-abs"></app-add-to-cart> -->

</div>
