.product-result {
    margin: 85px 280px 0px 280px;
    height: 112px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(#0000000D, 5%) ;
}

.product-result-inner {
    height: 64px;
    padding: 24px;
}

.product-list {
    height: 856px;
    margin: 0px 280px 0px 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
}




