.cart-btn {
    border: none;
    background: none;
    margin-left: 76px;
    position: relative;

    &:hover {
        cursor: pointer;
    }
}

.cart-bg {
    background-color: #2563EB;
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    position: absolute;
    top: -13px;
    right: -5px;
    color: #ffffff;
}