<div class="main-container">
    <section class="section-01">
        <div class="account-info">
            <div class="info-01">Account Information</div>
            <div class="owner-info">
                <div class="personal-info">
                    <div style="width: 40px; height: 40px;">
                        <img src="../../../assets/images/avatar.svg" alt="avatar">
                    </div>
                    <div class="personal-info-02">
                        <p class="email-01">Sarah Johnson</p>
                        <p class="email-02">sarah.johnson&#64;email.com</p>
                    </div>
                </div>
                <!-- <button class="personal-btn"></button> -->
            </div>

        </div>
        <div class="shipping-info">
            <div class="info-01">Shipping Information</div>
            <form [formGroup]="checkoutForm" style="width: 762.66px; margin-left: 24px;">
                <div class="form-info">
                    <div class="form-details">
                        <label for="first-name" class="first-name-form">First Name</label>
                        <br>
                        <input type="text" formControlName="firstName" placeholder="Sarah" class="form-input">
                    </div>
                    <div class="form-details">
                        <label for="first-name" class="first-name-form">Last Name</label>
                        <br>
                        <input type="text" formControlName="lastName" placeholder="Johnson" class="form-input">
                    </div>
                </div>
                <div class="form-info">
                    <div class="form-details">
                        <label for="first-name" class="first-name-form">Street Address</label>
                        <br>
                        <input type="text" formControlName="streetAddress" placeholder="123 Main Street" class="form-input" style="width: 762.66px;">
                    </div>
                </div>
                <div class="form-info">
                    <div class="form-details address-info">
                        <label for="first-name" class="first-name-form">City</label>
                        <br>
                        <input type="text" formControlName="city" placeholder="New York" class="form-input" style="width: 243.55px;">
                    </div>
                    <div class="form-details address-info">
                        <label for="first-name" class="first-name-form">State</label>
                        <br>
                        <select formControlName="state" class="form-input first-name" style="width: 243.55px;">
                            <option value="" disabled selected>Select State</option>
                            @for(stateOptions of stateOption; track stateOptions) {
                                <option type="text" placeholder="Select State" [value]="stateOptions" >
                                    {{ stateOptions }}
                                </option>
                            }
                        </select>
                    </div>
                    <div class="form-details address-info">
                        <label for="first-name" class="first-name-form">ZIP Code</label>
                        <br>
                        <input type="text" formControlName="zip" placeholder="10001" class="form-input" style="width: 243.55px;">
                    </div>
                </div>
                <div class="form-info">
                    <div class="form-details">
                        <label for="first-name" class="first-name-form">Phone Number</label>
                        <br>
                        <input type="text" formControlName="phone" placeholder="+1 (555) 123 4567" class="form-input" style="width: 762.66px;">
                    </div>
                </div>
            </form>
        </div>
    </section>



    <app-order-summary mode="compact" (placeOrder)="onPlaceOrder()"></app-order-summary>

</div>



